# Dependencies
/node_modules
/vendor

# Laravel
/storage/*.key
/storage/logs
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/.env
/.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# IDE
/.idea
/.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build (keep public/build for production)
/public/hot
