// Game Styles
@use 'game';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.game-layout {
    font-family: 'Gordita', 'Arial', sans-serif;
    background-color: #000;
    overflow: hidden;
}
